   .error-container {
        background: $gradient-background;
        display: grid;
        gap: 20px;
    
        .error-image {
            display: flex;
            justify-content: center;
            align-items: center;

            @include xl {
                margin-top: 130px;
            }
        }
    
        .error-text-holder {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }

    .error-footer {
        display: flex;
        justify-content: flex-start;

        p {
            @include text-s;
        }
    }
    



