#contact-footer {
    background-color: black;
    
    a {
        color: white;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding: 50px 0 10px 0;
        
        @include xl {
            flex-direction: row;
            gap: 10px;
        }
        
        #newsletter-box {
            display: grid;
            flex: 1;
            gap: 30px;

            @include lg {
                margin-left: 100px;
                margin-right: 200px;
            }

            .subscribe-box {

                    input {
                        background-color: rgb(17, 16, 16);
                        color: white;
                        border: 1px thin lightgrey;
                        opacity: 0.7; 
                        width: 66%;
                    }
    
                    button {
                        border-radius: 0 10px 10px 0;
                        height: 48px;
                    }
                
                
            }

            p {
                @include text-s;
                color: white;
                opacity: 0.7;
            }

            h6 {
                color: white;
                margin-bottom: -20px;
            }

            .footer-text {
                margin: 30px 0 60px 0;
            }
        }

        .footer-links-box {
            display: flex;
            flex: 1;
            justify-content: space-between;
            margin-right: 50px;
            margin-top: 30px;
            gap: 40px;

            @include lg {
                gap: 0;
            }

            .first-links-box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 50px;
            }

            .home-links, .terms-links, .second-links-box, .third-links-box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 5px;
            }

            .example-gmail {
                color: blue;
            }
        }
    }
}
