
.contact-header {
    background-color: $gray-100;
}

.contact-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 30px 0 0 100px;

}

#contact-us {
    background-color: $gray-100;
    
    .container {
        display: grid;
        gap: 5rem;
        height: 100%;

        @include lg {
            display: flex;
        }

        h1 {
            margin-top: 20px;
            @include h1;
        }

        .contact-us-box {
            display: grid;
            flex: 1;
            gap: 20px;

            .email-us {
                display: flex;
                gap: 20px;
            }

            .careers {
                display: flex;
                gap: 20px;
            }

           .envelope-image, .careers-image {
            margin-top: 20px;
            margin-right: 20px;
           }

        }


        #online-form {

            .container {
                @include shadow-l;
                border-radius: 5px;
                background-color: white;
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 80px;
                flex: 2;
            }
        
            form {
                
                input {
                    border-radius: 10px;
                    padding: 15px;
                }

                @include md {
                    padding: 0 20px 0 20px;
                }

                #form-email, #form-specialist, #form-fullname {
                    display: flex;
                    margin-top: 10px;
                    flex-direction: column;

                    .error-message-box {
                        color: red;
                    }
                }

                #form-date-time {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;

                    input {
                        width: 100%;
                    }
                }

                #form-date, #form-time {
                    flex: 1;
                    margin-top: 10px;
                }
        
                .content {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-areas:    "fullname"
                                            "email"
                                            "specialist"
                                            "date"
                                            "time"
                                            "button";
                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas:    "fullname fullname"
                                                "email email"
                                                "specialist specialist"
                                                "date time"
                                                "button button";
                                                
                    }
        
                    #form-fullname      { grid-area: fullname; }
                    #form-email         { grid-area: email; }
                    #form-specialist    { grid-area: specialist; }
                    #form-date          { grid-area: date; }
                    #form-time          { grid-area: time; }

                    button {
                        padding: 15px;
                        margin-top: 30px;
                        grid-area: button;
                        border-radius: 10px;
                        @include shadow-m;
                        width: 48%;
                    }
                }
            }
        }
    }
}

        
