#subscribe-section {
    display: flex;
    

    .signup-container {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 20px;


        .subscribe-box {
            display: flex;
            margin-top: 30px;
            justify-content: space-between;

            input {
                width: 700px;
            }

            button {
                margin-left: 420px;
            }

            button, input {
                border-radius: 10px;
            }
        }
        
        .input-group {
            display: flex;
            gap: 10px;
            align-items: center; 
        }

        .footer-head {
            display: flex;
            gap: 30px;
        }

        .checkbox-holder {
            display: flex;
            gap: 100px;
    
            .checkboxes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;
    
                label {
                    @include text-s;
                }

                .checkbox-item {
                    
                    label {
                        margin: 0 10px 0 10px;
                    }
                }
            }
        }

        
    }


}