#subscribe-section {
    display: flex;
    

    .signup-container {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 20px;

        .subscribe-box {
            display: flex;
            justify-content: space-between;
        }

        .footer-head {
            display: flex;
            gap: 30px;
        }

        .checkbox-holder {
            display: flex;
            gap: 100px;
    
            .checkboxes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;
    
                label {
                    @include text-s;
                }

                .checkbox-item {
                    
                    label {
                        margin: 0 10px 0 10px;
                    }
                }
            }
        }
        .subscribe-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;

            button {
                margin-top: 5px;
            }

            input {
                width: 700px;
            }
        }

        .agree-box {
            margin-left: 20px;
        }
        
        
    }


}