    .news-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px 100px;
        
        @include md {
            grid-template-columns: 1fr 1fr;
        }
        
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

    
        .news-card {
            position: relative;
            border-radius: 8px;
            @include shadow-l;
            background-color: white;

            .news-image {
                border-radius: 10px 10px 0 0;
                width: 100%;
            }

            .btn-save {
                background-color: $white;
                height: 36px;
                width: 36px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 20px;
                right: 20px;
                border: none;
            }

            .content {
                padding: 20px;

                .type-and-date {
                    display: flex;
                    justify-content: space-between;

                    .news-category {
                        color: $gray-800;
                        font-weight: 600;
                        background-color: $gray-200;
                        border-radius: 10px;
                        padding: 5px;
                    }
                }

                .news-title {
                    margin-top: 20px;
                }

                .news-category {
                    display: flex;
                    justify-content: space-between;

                    .category-text {
                        background-color: rgb(240, 238, 238);
                        font-weight: 600;
                        border-radius: 10px;
                        color: $gray-800;
                        padding: 2px 7px;
                    }

                    .published-text {
                        color: $gray-600;
                    }
                }
            }

            .news-profile {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .author-box {
                display: flex;

                h6 {
                    margin: 10px 0 0 20px;
                }
            }
        }
    }


