@mixin button {
    display: flex;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

.btn-theme { 
    @include button;
    color: $white;
    background: $primary;
    border: none;

    &:hover {
        text-decoration: none;
        background: $secondary;
        color: $white;
    }
}

.mobile-menu { 
    padding: 18px 22px;
    font-size: 2em;
    background: $transparent;
    border: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background: transparent;
    }
}


@mixin circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    @include shadow-s;
}

.btn-save {
  background-color: $white;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}

.carousel-button {
  background-color: white;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px;
  @include shadow-m;

  :hover {
    color: lightgray;
  }
}


.button-circle,
i.buttion-circle,
a.buttion-circle {
   @include circle-button;
   color: $gray-900;
   background: $white;
   border: none;
   transition: all 0.15s ease-in-out; 
}
  
.btn-dropdown {
    position: relative;
    display: inline-block;
    min-width: 40%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  }
  
  .dropdown-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: -1;
  }

  .dropdown-selected {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid $gray-300;
    cursor: pointer;
  }
  
  .dropdown-options {
    position: absolute;
    width: 100%;
    list-style: none;
    padding: 0 5px;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 1000;
    background-color: white;
  }
  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: #ddd;
  }

  .dropdown-container {
    border-radius: 10px;
  }

  .fa-chevron-up {
    color: white;
    background-color: $primary !important;
    border-radius: 3px;
    padding: 1px;
  }


  

  

  



  

