.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 10;
}

.popup-content {
  background: $gradient-primary; 
  padding: 40px;
  border-radius: 8px;
  font-size: 20px;
  position: relative;
  max-width: 100%;
  text-align: center;
  @include h5;
  color: $white; 
  line-height: 2;
  border: 1px solid black;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}
