#how-it-works {
    position: relative;
    background-color: #f0f0f0; /* Just for visibility, replace with your background color */
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }
  
  .phone-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .step-2-text {
    text-align: center;
    margin-top: 20px;
  }
  
  .carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    display: flex;
    overflow: hidden;
  
    .section {
      flex: 1;
      height: 100%;
      transition: background-color 0.3s ease;
  
      &.section-dark-blue {
        background-color: $primary
      }
  
      &.section-light-blue {
        background-color: $gray-300;
      }
    }
  }