#payment-section {

    .container {
        display: grid;
        grid-template-areas:    "money"
                                "imageone" 
                                "imagetwo" 
                                "payment";

        @include lg {
            grid-template-areas:    "money imageone"
                                "imagetwo payment";
        }

        .box {
            display: flex;
            border: none;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    p {
        color: $gray-700;
    }

    #payment-first-box {
        grid-area: money;
        padding: 20px;

        .payment-box {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 10px;

            p {
                margin-top: 15px;
            }
        }
    }

    #payment-second-box {
        grid-area: imageone;
    }

    #payment-third-box {
        grid-area: imagetwo;
    }

    #payment-fourth-box {
        grid-area: payment;

        .fourth-box-icons {
            display: flex;
            gap: 30px;
            margin-top: 20px;

            img {
                margin-bottom: 10px;
            }
        }
    }
}