#subscribe-section {
    background: $gray-100;
    border-radius: 10px;
    padding: 30px;

    @include lg {
        margin: 0 150px 0 150px;
    }

    .container {

        @include lg {
            margin-top: 40px;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-between;

        }

        .notify-box, .subscribe-box {
            display: flex;
            flex: 1 1;
        }

        .notify-box {
            gap: 80px;

            @include lg {
                gap: 30px;
            }
        }

        .subscribe-box {
            display: flex;
            margin-top: 50px;

            form {
                width: 300px;
                position: relative;
        
            
                @include md {
                    left: 50px;
                }
            
                @include lg {
                    left: 0;
                }
            }
            

        h1 {
            @include h4;
        }

        button {
            border-radius: 0 10px 10px 0;
        }
    }
}

#home-subscribe-button {
    position: absolute;
    left: 300px;
    padding: 10px;
    width: 130px;
 }
}