#subscribe-section {
    background: $gray-100;
    border-radius: 10px;
    padding: 30px;

    @include xxl {
        margin: 0 150px 0 150px;
    }

    .container {

        @include lg {
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .notify-box, .subscribe-box {
            display: flex;
            flex: 1 1;
        }

        .notify-box {
            gap: 80px;

            h1 {
                @include h4;
            }

            @include lg {
                gap: 30px;
            }
        }

        .subscribe-box {
            display: flex;
            margin-top: 50px;

            form {
                width: 300px;
                position: relative;
        
            
                @include md {
                    left: 50px;
                }
            }

            .subscribe-error {
                margin-left: 50px;
            }

        button {
            border-radius: 0 10px 10px 0;
        }
    }
}

#home-subscribe-button {
    position: absolute;
    left: 300px;
    padding: 10px;
    width: 130px;
 }
}